:root{
    --light-orange:#f99500;
    --light-violate:#a66bbe;
    --light-blue:#009cff;
    --dark-red:#c72727;
    --dark-gray:#353535;
    --max-width:1100px;
    --light-color:#f3f3f3;
}
#article .meta{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #eee;
    padding: 0.25rem 0;
}
#article .meta i,
#article .meta .label{
    margin: 0.4rem;
}