/* NavBar */
#main-nav .social{
    display: none;
}
#main-nav .container{
    flex-direction: column;
}
#main-nav .container img{
    width: 120px;
    margin-top: 5px;
}
#main-nav .container ul li{
    margin-top: -35px;
}
#main-nav .container ul a{
    padding: 5px 10px;
}
/* Show Cases */
#showcase .showcase-container{
    grid-template-columns: 1fr;
}
/* Articles container */
#home-artical .articale-container{
   grid-template-columns: repeat(2,1fr);

}
#home-artical .articale-container article:first-child,
#home-artical .articale-container article:last-child
{
    grid-template-columns: 1fr;
    grid-column: 1;
}
@media(max-width:600px){
    /* Show case */
    #showcase{
        padding: 2rem 0;
    }
    #showcase .container{
        width: 100%;
    }
    #showcase .showcase-content h2{
        font-size: 20px;
    }
    #showcase .showcase-content p{
        font-size: 12px;
    }
    #showcase .showcase-content .btn{
       height: 2rem;
       font-size: 0.75rem;
       width: 6rem;
    }
    /* Styling Articles & Footer*/
    #home-artical .articale-container,
    #main-footer .footer-container{
        grid-template-columns: 1fr;
    }
    #main-footer .footer-container > *:last-child{
        grid-column: 1;
    }
    /* Styling the aritcles */
    .page-container{
        grid-template-columns: 1fr;
        text-align: center;
    }
    .page-container .card{
        grid-column: 1;
    }
    .l-heading{
        font-size: 25px;
    }
    /* Styling meata data in article */
    #article .meta{
        flex-direction: column;
    }
    /* Text area at footer */
    #main-footer .footer-container textarea,
    #main-footer .footer-container input{
        width: 100%;
        margin-bottom: 1rem;
    }

}


